/* 	Angryamoeba.co.uk SITE-SPECIFIC CSS
	
	This stylesheet overrides base, grid and elements.css
	and provides specific styling information for
	angryamoeba.co.uk.
	
	-----------------------------------
	ANGRYAMOEBA Colour defs (copy and paste is fun)	
	CYAN: 						#1793C2;
	MAGENTA: 					#EC008C;
	GREEN: 						#5AC000;
	BROWN:						#BAAF86;
	-----------------------------------	
*/

/* Adjust logo position to compensate for size */
h1 {
	margin-left: 60px;
	margin-top: 10px;
}

/* Add H2 style for body blocks */
h2 {
	font-size: 16px;
	font-weight: lighter;
	padding-bottom: 5px;
	color: #1793C2;
}
#amoeba_header {
	border: none;
	margin-bottom: 50px;
}

/* Markers need moving slightly too */
.marker {
	margin-left: 60px;
}

/* Reduce margin between blocks */
.boxed {
	margin-bottom: 10px;
}
	.boxed p {
		font-weight: bold;
	}
.hidden_box {
	margin-bottom: 10px;
}

/* Specify sidebar */
#about_blog {
	padding-top: 8px;
	background: url('../images/singlecell_logo_small.png') no-repeat top left;
}
#about_blog a {
	color: #5AC000;
	font-size: 20px;
}

/* Add project type icons */
ul.project_icons {
	height: 24px;
	list-style-type: none;
	margin-bottom: 10px;
}
	ul.project_icons li {
		height: 24px;
		overflow: hidden;
		float: right;
		margin-left: 15px;
	}