/* @override 
	http://singlecell-assets.angryamoeba.co.uk/lib/syntaxhighlighter/SyntaxHighlighter.css
	http://singlecell-assets.angryamoeba.co.uk/css/code.css
*/

/* Singlecell code highlighter colours 
	-----------------------------------
	ANGRYAMOEBA Colour defs (copy and paste is fun)	
	CYAN: 						#1793C2;
	MAGENTA: 					#EC008C;
	GREEN: 						#5AC000;
	-----------------------------------	

*/


code {
	font-size: 11px;
	display: block;
	color: #333;
	width: 100%;
	overflow: scroll;
	border: 1px solid #BAAF86;
}
	code .title {
		color: #1793C2;
		font-weight: bold;
		text-decoration: underline;
	}
	code .params {
		color: #444;
	}
	code .keyword {
		color: #EC008C;
		font-weight: bold;
	}
	code .comment {
		color: #999;
	}
	
	code .string {
		color: #5AC000;
	}
	code .number {
		color: #DB5E2A;
	}