---
title: Singlecell, the Angry amoeba weblog
layout: default
---

{% for post in site.posts limit:5 %}
	{% case forloop.index0 %}
	{% when 0 %}
		<div id="focus" class="section forty-sixty">
	{% when 1 %}
		<div id="content" class="section forty-sixty">
			{% include archive-header.html %}
	{% else %}
		<div class="section forty-sixty">
	{% endcase %}

			<h2 class="left">
				<a href="/singlecell{{post.url}}">{{post.title}}</a>
				<span class="date">{{post.date | date: "%d %b, %Y"}}</span>
			</h2>
			
			<div class="right box">
				{{post.content | before_fold}}
				
				{% if post.folded %}
					<a class="fold folded" href="/singlecell{{post.url}}#disqus_thread">
						Read full article
					</a>
				{% else %}
					<a class="fold" href="/singlecell{{post.url}}#disqus_thread">
						Permalink to this article
					</a>
				{% endif %}

				
				{% if forloop.first %}
					{% include dan-bio.html %}
				{% endif %}
			</div>
	
		</div>
{% endfor %}

<div id="archive" class="section forty-sixty">
	<div>
		{% for post in site.posts offset:5 %}		
			<h2 class="{% cycle 'toggler': 'odd','even' %}">
				<a href="/singlecell{{post.url}}">{{post.title}}</a>
				<span class="date">{{post.date | date: "%d %b, %Y"}}</span>
			</h2>
			{% cycle 'closer': ' ',' ','</div><div>' %}
		{% endfor %}
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/singlecell/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>