<!-- vCard and bio -->
<div id="hcard-Dan-Glegg" class="vcard">
	 <img src="/images/icons/dan-portrait-small.jpg" alt="Photo of Dan speaking at an event" title="Image thanks to Richard Dallaway" class="photo"/>
	<p>
		<a class="url fn" href="http://www.angryamoeba.co.uk/singlecell/">Dan Glegg</a> is a software developer living and working in 
		<span class="adr"><span class="locality">Brighton</span>, <span class="country-name">United Kingdom</span></span>. 
		He works mainly with Ruby, Objective-C, Flex and W3C standards and spends most of his time 
		developing products, often with startup companies.
	</p>
	
	<ul>
		<li><a href="http://twitter.com/angryamoeba" class="url social twitter">Twitter</a></li>
		<li><a href="http://www.linkedin.com/in/angryamoeba" class="url social linkedin">LinkedIn</a></li>
		<li><a href="http://flickr.com/photos/angryamoeba/" class="url social flickr">Flickr</a></li>
		<li><a href="http://github.com/danski/" class="url social github">Github</a></li>
		<li><a href="http://delicious.com/danski" class="url social delicious">Del.icio.us</a></li>
	</ul>								

	<div class="tags">
		<a href="http://kitchen.technorati.com/contacts/tag/startup">startup</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/entrepreneur">entrepreneur</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/developer">developer</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/engineer">engineer</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/technology">technology</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/consultancy">consultancy</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/ruby">ruby</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/flex">flex</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/objective-c">objective-c</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/iphone">iphone</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/mac">mac</a> 
		<a href="http://kitchen.technorati.com/contacts/tag/w3c">w3c</a>
	</div>
</div>