body {
	font-family: "Trebuchet MS", "Helvetica", sans-serif;
	font-size: 16px;
	background: #333;
	color: #EFEFEF;
	margin: 0;
	padding: 0;
}
a {
	color: #93D22C;
}

h1 {
	margin: 10px ;
	padding: 5px;
	background: #666;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	float: left;
}

nav {
	padding: 20px;
	background: black;
	height: 100px;
}
nav ul {
	list-style-type: none;
	clear: both;
}
nav ul li {
	padding: 20px;
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

ul.accordian {
	background: black;
	border: 3px solid white;
	margin: 30px;
	list-style-type: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 10px;
}
	ul.accordian li {
		margin: 0 0 10px 0;
		padding: 5px 10px;
		background: #444;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
	}
	ul.accordian li:last-child {
		margin: 0;
	}
	ul.accordian li div {
		display: none;
		background: black;
		padding: 20px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
	}
	ul.accordian li.active {
		background: #555;
	}
	