/* Angryamoeba BASE
	
	You can largely copy and paste this sheet to override irritating,
	layout-eating browser defaults.
	
	The idea is that you use base.css to define formatting for plain-old non-inheriting
	elements	to add your own nice default behaviour to things.
	
	This site uses several layered stylesheets, each with it's own purpose:
	-----------------------------------
		
		* base.css - Defines defaults on basic tags
		* grid.css - Defines layout and grid for a common document structure.
						 We took this approach because we want to re-use this layout while changing the style
						 between some pages.
		* sitename.css (probably angryamoeba.css or singlecell.css)
					  - Defines visual styles for the site including background images, blockquote styling,
					    and others. Can also override the defaults set in the other two files where needed
					    (this occurs most frequently for paragraphs and headings.)
	
	-----------------------------------
	Colour defs (copy and paste is fun)	
	CYAN: #189CE5;
	MAGENTA: #EC008C;
	-----------------------------------
*/

/* Default text and document styles */
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	color: #333333;
	font-size: 13px;
	line-height: 17px;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: #EC008C;
	cursor: pointer;
}
abbr {
	border-bottom: 1px dotted #AAA;
}
blockquote {
	border-left: 2px solid #CCC;
	margin: 4px 0px 2px 5px;
	padding: 3px 5px;
}

/* Lots of stuff has borders and padding by default. We don't want it. */
h1,h2,h3,h4,h5,h6,ul,ol,li,form,fieldset,img,p {
	margin: 0;
	padding: 0;
	border: none;
}

/* HR's are great for breaking up your text without wrapping everything in
	a hugely be-margined <div>. Unfortunately, they're also ugly. So we're going
	to make them invisible whilst still keeping them around for people who don't
	download the CSS. */
hr {
	/* Also, every browser handles HR's differently. It's ridiculous.
	   This is what you need to make them invisible, where invisible means
	   "white on a white backdrop." */
	color: white;
	height: 0;
	width: 100%;
	border: none;
	background-color: white;
	margin-bottom: 10px;
}
caption {
	text-align: left;
}
