/* Angryamoeba GRID */


/* Start by extending the base with some defaults for headings and paragraphs */
body {

}
	p,h3,h4,h5 {
		margin-bottom: 20px;
	}

	/* Grid control classes for keeping padding and content constraints consistent.
	   Also with default inheritance declarations for these grid classes. */
	.outergrid {
		padding: 10px 10px 10px 91px;
	}
		.outergrid h2,h3,h4,h5,h6 {
			width: 450px;
			margin-left: 201px;
		}
		.outergrid p {
			width: 450px;
			margin-left: 201px;
		}
		.outergrid ul,ol {
			margin: 0px 0px 10px 201px;
			width: 450px;
			list-style-position: inside;
		}
			.outergrid li {
				
			}
	.widthcontrolgrid {
		width: 659px;
	}
	.contentcolumngrid {
		width: 450px;
	}
	.leftcolumngrid {
		width: 78px;
	}
	.spacercolumnfromright {
		padding-left: 123px;
	}
	.spacercolumnfromleft {
		padding-right: 123px;
	}
		
	/* Element-specific declarations for the grid. */
	
	/* HEADER : The header has a clearly defined left logomark, right navigation achieved through an
		unordered list and an <h2> containing either raw text or image text with an ALT attribute. 
		That should be all that's required in the grid for now. */
	div#header {
		padding-top: 54px;
		padding-bottom: 0;
		min-height: 98px;
	}
		div#header h1 {
			position: absolute;
			top: 80px;
			left: 91px;
		}
		div#header ul {
			width: 450px;
			height: 12px;
			margin: 0px 0px 23px 201px;
			list-style-type: none;
		}
			div#header ul li {
				margin-left: 7px;
				float: right;
			}
		div#header h2 {
			margin-left: 201px;
		}
	div#body {
		min-height: 450px;
	}
		p.linkout {
			margin-left: 0;
			width: 651px !important;
		}
			p.linkout a.icon {
				float: left;
				width: 78px;
				padding-right: 123px;
				text-align: center;
			}
	div#footer {
		min-height: 50px;
	}
		div#footer p {
			margin-right: 201px;
			width: 450px;
		}
		div#footer p.linkout a, div#footer p.linkout a:hover {
			background: none;
		}
