---
title: Dan Glegg
layout: base
navigation: about
---

{% include header.html %}

<section id="focus" class="focus">
	<h1>About Dan</h1>

	<article class="profile" itemscope itemtype="http://schema.org/Person">
		<header>
			<h2 itemprop="name"> 
	      Hi! I'm Dan Glegg.
	    </h2>
	    <img src="/img/profile/dan-portrait-large.jpg" alt="Image of Dan Glegg" />
	   </header>

	   <div itemprop="description">
	   		<p>
	   			I'm a <em>web geek</em>. I live in Brighton, UK with my wife and a small menagerie of pets.
	   			I'm interested in building tools and products that <em>improve the web</em> and <em>delight human beings</em>.
	   		</p>

	   		<p>
	   			Most of the time you can find me working with Ruby, Scala, Objective-C and that wonderful bundle
	   			of tools and standards that we have come to know as <abbr title="HTML, CSS and Javascript with modern features.">HTML5</abbr>.
	   		</p>

	   		<p>
	   			I love the web. It's an eerie hash of our species - social, collaborative, abidingly silly and perhaps a little younger and more primitive than we like to remember. We'd be doing ourselves a disservice if we let it drown in a mush of short-lived proprietary
	   			systems.
	   		</p>

	   		<p>
	   			I also enjoy a chronic addiction to video games, especially massively multiplayer titles which always seem to develop weird secret lives beyond the control of the developers.
	   		</p>

	   		<ol class="links">
	   			<li class="github">
	   				<a href="http://github.com/danski">Github</a>
	   			</li>
	   			<li class="twitter">
	   				<a href="http://twitter.com/angryamoeba">Twitter</a>
	   			</li>
	   			<li class="linkedin">
	   				<a href="http://www.linkedin.com/profile/view?id=8175309">Linkedin</a>
	   			</li>
	   			<li class="steam">
	   				<a href="http://steamcommunity.com/id/oneangryamoeba">Steam</a>
	   			</li>
	   		</ol>

	   </div>
	</article>

	{% include projects.html %}
</section>

<section id="cv" class="cv">
	<article class="pro-summary">
		<header>
			<h2>Professional profile</h2>
		</header>
		<div>
			<p>
				Skilled platform architect and polyglot programmer with 12 years experience creating and scaling software - and the teams who curate it.
			</p>
			<p>
				Outspoken and personable, with strong requirements analysis skills, capable of properly prioritising feature development to match available and projected resources. Adept at scaling teams and smoothly transitioning to more abstract roles. Respectful awareness of scale as both a technical and cultural factor.
			</p>
			<p>
				Obsessive where it counts and pragmatic everywhere else. Prefer development in Ruby, Objective-C and other modern languages using modern techniques. Disciplined in automated testing, version control and team communication. Concerned with security and authentication issues. Strong adherent to the belief that programming is a non-specific discipline, which should not require individuals to classify themselves by the tools they use - good programmers quickly adapt to the tools required by the situation. Active participant in the open source community.
			</p>
		</div>
	</article>

	<article class="skills">
		<header>
			<h2>Specialities</h2>
		</header>

		<div>
			<p>
				Application and platform design, requirements analysis and <abbr title="Roadmaps are an illusion. Software roadmaps doubly so.">pragmatic software planning.</abbr>
			</p>
			<p>
				Ruby, Scala, Javascript (browser-side and server-side), Absurdly anal-retentive HTML and tasteful CSS.
				<abbr title="I've seen things. Terrible things.">Video on the web</abbr>. Python, PHP and other major scripting languages.
			</p>
			<p>
				Epic bikeshedding through <a href="http://github.com/danski">personally-motivated open source projects.</a>
			</p>
		</div>
	</article>
</section>

<footer>
</footer>